[Unit]
Description=Cumulocity self-signed certificate renewer service
After=network-online.target
StartLimitIntervalSec=0
PartOf=c8y-devicecert-renewer.target

[Service]
Type=oneshot
User=root
Environment=RENEW_TYPE=c8y-self-signed

; Only run service is if the certificate needs renewal
ExecCondition=/usr/bin/c8y-devicecert-renewer.sh needs-renewal c8y

; Run renewal
ExecStart=/usr/bin/c8y-devicecert-renewer.sh renew c8y

[Install]
WantedBy=multi-user.target
