[Unit]
Description=Timer for the renewal of the Cumulocity self-signed certificate
Documentation=https://thin-edge.io
PartOf=c8y-devicecert-renewer.target

[Timer]
Persistent=true

; Timer interval
OnCalendar=hourly

; Always run the timer on time
AccuracySec=1us

; Add jitter to prevent a "thundering herd" of simultaneous certificate renewals
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
